<div class="contact-us-container">
    <h4>The Developers</h4>
    <p>Get in touch with us through our social media profiles:</p>
   <div class="person">
    <div>Mohammed Saffan
    <div class="social-icons">
      <a [href]="githubUrl" target="_blank">
        <img src="github-icon.png" alt="GitHub" class="icon">
      </a>
      <!-- <a [href]="instagramUrl" target="_blank">
        <img src="instagram-icon.png" alt="Instagram" class="icon">
      </a> -->
      <a [href]="linkedinUrl" target="_blank"> 
        <img src="linkedin-icon.png" alt="LinkedIn" class="icon">
      </a>
    </div>
</div>
    <div> Hajarat Ali
    <div class="social-icons">
      <a [href]="githubUrla" target="_blank">
        <img src="github-icon.png" alt="GitHub" class="icon">
      </a>
      <!-- <a [href]="instagramUrla" target="_blank">
        <img src="instagram-icon.png" alt="Instagram" class="icon">
      </a> -->
      <a [href]="linkedinUrla" target="_blank">
        <img src="linkedin-icon.png" alt="LinkedIn" class="icon">
      </a>
    </div>
</div>
  </div>
</div>
  