<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>EduSphere</h2>
        <p>EduSphere is dedicated to providing top-notch educational resources and courses to help you expand your horizons. Our mission is to make quality education accessible to everyone, everywhere.</p>
        <!-- <div class="social-icons">
          <a [href]="githubUrl" target="_blank">
            <img src="assets/github-icon.png" alt="GitHub" class="icon">
          </a>
          <a [href]="instagramUrl" target="_blank">
            <img src="assets/instagram-icon.png" alt="Instagram" class="icon">
          </a>
          <a [href]="linkedinUrl" target="_blank">
            <img src="assets/linkedin-icon.png" alt="LinkedIn" class="icon">
          </a>
        </div> -->
      </div>
  
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/courses">Courses</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
  
      <div class="footer-section contact">
        <h2>Contact</h2>
        <ul>
          <li>Email: info&#64;edusphere.com</li>
          <li>Phone: +123 456 7890</li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      &copy; {{ currentYear }} EduSphere. All rights reserved.
    </div>
  </footer>
  